@font-face{
    font-family: "Kunstler Script";
    font-style: normal;
    font-weight: normal;
    src: local("Kunstler Script"), url('http://www.performancefb.com/css/Kunstler.ttf') format('truetype');
}
@font-face{
    font-family: "JasmineUPC";
    font-style: normal;
    font-weight: normal;
    src: local("JasmineUPC"),  local("JasmineUPC, Regular"), url('http://www.performancefb.com/css/JasmineUPC.ttf') format('truetype');
}
@font-face{
    font-family: "Broadway";
    font-style: normal;
    font-weight: normal;
    src: local("Broadway BT"), local("Broadway BT, Regular"), url('http://www.performancefb.com/css/Broadway.ttf') format('truetype');
}
@font-face{
    font-family: "Bauhaus93";
    font-style: normal;
    font-weight: normal;
    src: local("Bauhaus 93"), local("Bauhaus 93, Regular"), url('http://www.performancefb.com/css/Bauhaus93.ttf') format('truetype');
}
@font-face{
    font-family: "CooperBlack";
    font-style: normal;
    font-weight: normal;
    src: local("Cooper Black"), local("Cooper Black, Regular"), url('http://www.performancefb.com/css/CooperBlack.ttf') format('truetype');
}
* {
    font-family: Verdana, Arial, Helvetica
}
body{
    background:-webkit-gradient(linear, 50% 100%, 50% 0%, from(#0975C2), to(#74BCE0));
    background-color:#0093DD;
    margin: 0;
}
#top_wrapper{
    background: url("../images/arabesco-esq.jpg") no-repeat white;
    padding-bottom: 5px;
    -moz-box-shadow: 0px 0px 20px #000000;
    -webkit-box-shadow: 0px 0px 20px #000000;
    box-shadow: 0px 0px 20px #000000;
    border-bottom: 2px solid #02406A
}
#top{
    background: right url("../images/arabesco-dir.jpg") no-repeat;
}
#top .menu{
    border-bottom: 1px solid #DDF3EB;
    height: 30px;
    margin-top: 10px
}
.menu ul {
    margin: 0 auto;
    width: 800px;
    list-style: none;
}
.menu ul li {
    float: left;
    margin: 0 5px
}
.menu ul li ul {
    margin-top: 5px;
    padding: 10px 0;
    position: absolute;
    display: none;
    z-index: 1;
    width: 210px;
}
#top .menu ul li ul {
    -moz-box-shadow: inset 0px -10px 18px #28166E;
    -webkit-box-shadow: inset 0px -10px 18px #28166E;
    box-shadow: inset 0px -10px 18px #28166E;
    background-color:#0093DD;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
#footer .menu ul li ul{
    position: absolute;
    display: none;
}
#footer .menu ul li:hover ul {
    display: block;
    text-align: top;
}
.menu ul li:hover ul {
    display: block;
    float: top;
}
.menu ul li ul li {
    float: none;
    height: 30px;
}
#top .menu > ul > li > a {
    text-decoration: none;
    color: white;
    -moz-box-shadow: inset 0px -10px 18px #28166E;
    -webkit-box-shadow: inset 0px -10px 18px #28166E;
    box-shadow: inset 0px -10px 18px #28166E;
    background-color:#0093DD;
    padding: 5px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
#top .menu ul li ul li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 5px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.menu ul li a:hover {
    color: #28166E;
}
#top .menu ul li a:hover {
    color: #28166E;
    -moz-box-shadow: inset 0px -10px 18px #FFFFFF;
    -webkit-box-shadow: inset 0px -10px 18px #FFFFFF;
    box-shadow: inset 0px -10px 18px #FFFFFF;
    background-color: #0093DD;
}
#logo{
    margin: 0 auto;
    width: 350px;
}
#container{
    background: right top url("../images/arabesco_fundo.png") no-repeat white;
    margin: 0 auto;
    min-height: 200px;
    padding: 10px;
    text-align: center;
    width: 1000px;
    -moz-box-shadow: 0px 10px 20px #000000;
    -webkit-box-shadow: 0px 10px 20px #000000;
    box-shadow: 0px 10px 20px #000000;
}
#container #flickr_sets img{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
   transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
}
#container #flickr_sets .time-ago{
    font: 84% vedana;
    color: #6E6E6E;
    min-height: 13px;
    white-space: nowrap;
}
#container #flickr_sets a {
    text-decoration: none;
}
#container #flickr_sets a:hover {
    text-decoration: underline;
}
#footer{
    background-color: #e5e5ff;
    height: 20px;
    margin: 0 auto;
    padding: 20px;
    -moz-box-shadow: 0px 0px 20px #000000;
    -webkit-box-shadow: 0px 0px 20px #000000;
    box-shadow: 0px 0px 20px #000000;
}
#footer ul li a{
    padding: 10px;
}
.texto{
    width: 350px;
    float: right;
    background-color: rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 30px;
}
.esquerda {
    margin-right: 350px;
}
.esquerda * {
    font-size: 12px;
    line-height: 0.5;
}
.titulo{
    line-height: 1.5;
    font-size: 100px;
}
.foto {
    width: 350px;
    float: left;
}
.foto img{
    border: solid 5px;
    border-radius: 30px;
    width: 350px;
}
.posicao1 {
    margin: 15px 40px 15px -40px;
    float:right;
    background-color: #ffffff;
    border: solid 4px;
    border-radius: 30px;
    padding: 5px;
    min-width: 250px;
}
.inclinacao1{
   transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
}
.posicao2{
    margin: 15px 10px 15px -10px;
    float: right;
    background-color: #ffffff;
    border: solid 4px;
    border-radius: 30px;
    padding: 5px;
    min-width: 250px;
}
.inclinacao2{
    transform: rotate(353deg);
    -webkit-transform: rotate(353deg);
    -moz-transform: rotate(353deg);
    -o-transform: rotate(353deg);
    -ms-transform: rotate(353deg);
}
.posicao3{
    margin: 15px 70px 15px -70px;
    float: right;
    background-color: #ffffff;
    border: solid 4px;
    border-radius: 30px;
    padding: 5px;
    min-width: 250px;
}
.inclinacao3{
    transform: rotate(353deg);
    -webkit-transform: rotate(353deg);
    -moz-transform: rotate(353deg);
    -o-transform: rotate(353deg);
    -ms-transform: rotate(353deg);
}
i{
    clear: both;
    display: block;
}
.matriculas_abertas{
    margin: 15px 175px 19px 0px;
    float: right;
    background-color: #E5E5E5;
    border-radius: 30px;
    padding: 5px;
    width: 250px;
}
.matriculas_abertas p{
    font-size: 15px;
}
.matriculas_abertas p strong{
   font-size: 40px;
}
