.fotos img {
  width: 480px;
}
.texto{
    width: 97%;
    background-color: rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 30px;
}
p strong{
    font-size: 25px;
}
.centro strong{
    font-size: 15px;
}
#estrutura{
    margin-top: 15px;
    width: 450px;
    background-color: rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    float: right;
}
.textoEstrutura strong{
    font-size: 16px;
    line-height: 1.5;
}
